*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    }

.bigDiv{
    background-color: #FFFFFF;
    margin-top: 50px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

   
 
}
.allUL{
    width: 80%;
    margin: auto;
    display: flex;
    
}
.socialMedia{
   
    background-color: #EBECEC;
    height: 148px;
    margin-top: 50px;
}
.copyRight{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
background-color: #D6D8D9;
height: 52px;
}
.companyF{
font-weight: 550;
color: #333c43;
font-size: 14px;
letter-spacing: 0.5px;
padding:  0px 80px ;
margin-top: 50px;

}
.homeF{
    font-size: 15px;
    margin-top: 15px;
   color: #4D5056;
   margin-left: 80px;
} 
.homeF:hover{
    cursor: pointer;
    text-decoration: underline;
}
.ulName{
    list-style-type: none; 
}
.copyRightF{
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
  align-items: center;
  gap: 750px;
  background-color: #D6D8D9;

}
.copywrite{
color: #475056;
font-size: 12px;
}
.group{
    color: #5C6369;
    font-size: 12px;
}
.draught{
    color: #5C6369;
  font-size: 14px;
}

.logStore{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:600px;
    
   

}
.img-logo{
    width: 10%;
    height: 20%;
}
.adrodLogo{
    background-color: red;
}